.rowexample-1 {
    background-color: var(--white_a700_e5);
    width: 100%;
    display: flex;
    padding: 16px 4px;

    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: 16px;
    }
}

.example-1 {
    margin-bottom: 210px;
}