.login__description,
.login__title,
.login__subtitle,
.login__footer {
  text-align: center;
  margin-bottom: 1rem;
}

.password__reset {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  text-align: right;
}